# Lab 3 Exercises

In [2]:
import pandas as pd
import numpy as np

## Exercise 1

Let's load lab 2's dataset again and try to handle the missing values this time.

In [3]:
try:
    world_df = pd.read_csv('../data/world_factbook.csv')
except FileNotFoundError:
    world_df = pd.read_csv('https://raw.githubusercontent.com/GUC-DM/W2023/main/data/world_factbook.csv')

world_df.head()

,country,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,2.173990e+10,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,1.611745e+10,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,1.975805e+11,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,4.623520e+08,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,1.352819e+09,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

**How many missing values are there in each column?**

**Filter the data to the rows where there are missing values**

_Hint: save the boolean mask to a variable for re-use in later prompts._

**Fill the missing values with the dataset's mean for each of the columns and assign the result to a new variable `world_df_na_mean`. How does the data filtered above look now?**

**Fill the missing values based on each region's median for each of the columns and assign the result to a new variable `world_df_na_median`. How does the data filtered earlier look now? What is the advantage of this approach?**

_Hint: you'll need to use `groupby`_

## Exercise 2

The gapminder dataset provides data about the population, life expectancy and GDP in different countries of the world from 1952 to 2007. Let's say one of the tasks you wanted to perform later on is to build a regression model to forecast GDP, population, life expectancy of future years, but to do that you needed to first transform the data provided.

In [4]:
try:
    gapminder_df = pd.read_csv("../data/gapminder.csv")
except FileNotFoundError:
    gapminder_df = pd.read_csv('https://raw.githubusercontent.com/GUC-DM/W2023/main/data/gapminder.csv')

gapminder_df.head()

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,...,pop_1962,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007
0,Africa,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,...,11000948.0,12760499.0,14760787.0,17152804.0,20033753.0,23254956.0,26298373.0,29072015.0,31287142,33333216
1,Africa,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,...,4826015.0,5247469.0,5894858.0,6162675.0,7016384.0,7874230.0,8735988.0,9875024.0,10866106,12420476
2,Africa,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,...,2151895.0,2427334.0,2761407.0,3168267.0,3641603.0,4243788.0,4981671.0,6066080.0,7026113,8078314
3,Africa,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,...,512764.0,553541.0,619351.0,781472.0,970347.0,1151184.0,1342614.0,1536536.0,1630347,1639131
4,Africa,Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,...,4919632.0,5127935.0,5433886.0,5889574.0,6634596.0,7586551.0,8878303.0,10352843.0,12251209,14326203

**Transform the data provided. Expected columns in the final dataset:** `['Continent','Country','Year','Population Count','GDP Value', 'Life Expectancy']`

_Hint: you'll need to `melt` each variable on its own and then merge the partial dataframes in the end (consider using `pd.concat` or `join`)._